Add:
-addPlayer(name, password, position, isAdmin): Adds a player to the database with the next available id and the delivered fields, all other fields should get the default value 0
-addMatch(date, goalsA, goalsB): Adds a match to the database with the next available id
-addStatistic(gDefault, gHead, gHeadSnow, gNutmeg, gOwn, gPenalty, position): Adds a statistic to the database with the next available id
-addPosition(positionName): Adds a position to the database
-addOccupation(playerId, positionName): Adds an occupation to the database with the delivered ids
-addParticipation(playerId, matchId, statisticId, team): Adds a participation to the database with the delivered values

Remove:
-removeOccupation(playerId, positionName): Removes the occupation with the delivered ids
-removePlayer(id): Removes the player with the delivered id

Getter:
-getAllPlayers(): Returns a collection of all players
-getPlayer(name, password): Returns a player with the delivered name and password
-getAllMatches(): Returns a collection of all matches
-getMatches(playerId): Returns a collection of all matches in which the delivered player took part
-getAllStatistics(matchId): Returns a collection of all statistics concerning the given match.
-getStatistics(matchId): Returns a collection of all statistics of the delivered match
-getStatistic(playerId, matchId): Returns the statistic of the delivered player and match

Setter:
-updatePlayerProperties(id, name, password, isAdmin): Updates the properties of the concerned player.
-updatePlayerStatistic(id, wins, tied, losses, goalDifference): Adds the values of the delivered fields to the existing field values of wins, tied, losses and goalDifference
-setTeam(playerId, matchId, team): Sets the team of the participation with the delivered ids
-setGoals(id, goalsA, goalsB): Sets both goal fields in the match with the delivered id

